<div>
  <input
    type="text"
    class="invite-input"
    placeholder="Search"
    [(ngModel)]="inviteUserInput"
  />
  <button class="search-button" (click)="addUserFriend()">
    Dodaj
    <i class="bi bi-search"></i>
  </button>
  @for(friend of foundedUsers; track friend.id) {
  <div>
    <app-friends-user-bar-item
      [user]="friend"
      [isFounded]="true"
    ></app-friends-user-bar-item>
  </div>
  }

  @if(invitations().length) {
    <h5>Invitations</h5>
    } @for(invitation of invitations(); track invitation.id) {
    <div>
      <chat-user-bar-invitation-item
        [invitation]="invitation"
      ></chat-user-bar-invitation-item>
    </div>
    }

    
</div>
