<div class="container-right-sidebar" [class.collapsed]="isCollapsed$()">
  <button class="toggle-button" (click)="toggleSidebar()">
    <i
      [class]="
        isCollapsed$() ? 'bi bi-arrow-bar-left' : 'bi bi-arrow-bar-right'
      "
    ></i>
  </button>
  <div class="sidebar-content">
    <div class="search-bar">
      @if(!isCollapsed$()) {
        <app-chat-user-bar-invitation />
      @for(user of users; track user.id) {
      <div>
        <app-chat-user-bar-item [user]="user"></app-chat-user-bar-item>
      </div>
      } }
    </div>
  </div>
</div>
