<div class="forgot-password-container">
  <div class="forgot-password-box">
    <h2 class="text-center">Zapomniałeś hasła?</h2>
    <p class="text-center">Wprowadź swój adres e-mail, aby zresetować hasło.</p>
    <form>
      <div class="form-group">
        <label for="email">Adres e-mail</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Wprowadź e-mail"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block" (click)="handleResetPassword()">
        Zresetuj hasło
      </button>
    </form>
  </div>
</div>
